:root {
    --black: #000000;
    --lightBlack: #1E1E1E;
    --darkGrey: #48504F;
    --mediumGrey: #8E8E8E;
    --lightGrey: #E0E0E0;

    --blueAccent: #63ABAF;

    --white: #FFFF;
    --lightYellow: #EDDDD4;

    --backgroundColor: #FFFF;


    --categoryHoverColor:#C54536;
    --subCategoryHoverColor:#C54536;
    --buttonHoverColor: #3e6c6f;
    --scrollBar:#1E1E1E;
}

/*
RESET SETTINGS */

/* set border-box (so that css uses a
more reasonable box model, and so it’s
like every other platform) */
*, *::before, *::after {
    box-sizing: border-box;
    }

/* get rid of default margins which
vary depending on browser anyway, just
set it yourself later*/
* {
    margin: 0;
}

    /* media elements are replaced elements
which have a width based on the media,
so we prevent it from expanding beyond
its container, and take up a row */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* make tables look like spreadsheets
and less like a spaced-out grid */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1{
    font-size: 5rem;

    font-family: forma-djr-display, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #4e6c67;
}

h2{
    font-size: 2rem;
    font-family: forma-djr-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
   

}

h3{
    font-size: 1.8rem;
    color: #b7b7b7;
}

a{
    text-decoration: none;
    font-family: omnes-pro, sans-serif;
    font-weight: 1000;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-right: 20px;


    color: rgb(31, 66, 119);

    -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
   
}

a:hover{
    font-weight: 1500;
    font-size: 1.1rem;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--lightBlack);

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 280vh;


    /* gets rid of horizontal scroll */
    overflow-x: hidden;

    font-family: omnes-pro, sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: #ffffff;

}

.navigation {
    grid-column: 1;
    grid-row: 1;
    position: fixed;
    width: 100vw;
    height: 10vh;

    background-color: #ffffff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;


    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 70px;
    padding-left: 70px;


    z-index: 999;
    -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
}

.main {
    grid-column: 1;
    grid-row: 2;
    

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 85vh 200vh;
}

.header {
    grid-column: 1;
    grid-row: 1;
    

    padding: 60px;
    text-align: right;

   background-image: url("headerimg.png");
   background-repeat: no-repeat;
   background-size: cover;

   display: grid;
   grid-template-columns: 1fr 3fr;

}

.headshot{
    grid-column: 1;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin-left: 20px;

}

#headertext{
    grid-column: 2;
}

.maincontainer{
    grid-column: 1;
    grid-row: 2;
    
    
    
    
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.subheader{
    width: 32%;
    height: 50px;
    border-radius: 120px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #A0ADA2;

    font-family: forma-djr-display;
    letter-spacing: 5px;
}

.cardcontainer{
    width: 60vw;
    min-height: 400px;
    /* background-color: purple; */


    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

/* adds space between flexbox items */
.cardcontainer > div {
    margin: 6px;
}

.break{
    flex-basis: 100%;
    height: 0;
}

.fat-card {
    width: 55%;
    height: 500px;
    border-radius: 10px;
    border: 5px solid #c5cfcb;
    padding: 4px;

    background-color:  #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;

    -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
}

.thin-card {
    width: 40%;
    height: 500px;
    border-radius: 10px;
    border: 5px solid #c5cfcb;
    padding: 4px;

    color: #ffffff;
    text-shadow: 1px 1px 8px #555c6c;



    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;

    -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
}

.fat-card:hover, .thin-card:hover{
    box-shadow: 0 4px 8px 0 #92a1a2, 0 6px 10px 0 #92a1a2;
    border: none;
    border: 3px solid #ffffff;
}

.card-full-img{
    grid-column: 1;
    grid-row: 1/3;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;

}
.card-half-img{
    grid-column: 1;
    grid-row: 1;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}

.card-text{
    grid-column: 1;
    grid-row: 2;

    padding: 20px;
    text-align: left;

}

.learnbutton{
    width: 50%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;

    padding: 2px;
    text-align: center;
    color: rgb(53, 100, 93);
    text-transform: uppercase;

    text-decoration: none;
    font-size: .6rem;
    font-weight: bold;
    font-family: omnes-pro, sans-serif;
    letter-spacing: 1px;


    cursor: pointer;

    -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
}

.learnbutton:hover{
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.learnbutton2{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border:none;

    padding: 2px;
    text-align: center;

    text-transform: uppercase;

    text-decoration: none;
    font-size: .6rem;
    font-weight: 1000;
    font-family: omnes-pro, sans-serif;
    letter-spacing: 1px;

    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(78, 145, 127), rgb(105, 178, 186),rgb(126, 180, 219) );


    cursor: pointer;

    -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
}

.learnbutton2:hover{
    background: none;
    color: #b2b2b2;

    border: 2px solid #b2b2b2;
}









/* SCROLLBAR */

::-webkit-scrollbar-thumb:vertical {
    background: var(--scrollBar);
    border-radius: 15px;
    height: 30%;
}

::-webkit-scrollbar {
    height: 10px;
    width: 5px;
}




